In [3]:
#first 
print("odd" if (int(input("enter a num: "))%2 !=0) else "even")

enter a num: 7
odd

In [4]:
#second
score=325
wickets=7
catch=4
list_cond =[score>320,
            wickets<8,
            catch>3]
if (all(list_cond)):
    print("sathya")
else:
    print("Lose")

sathya

In [5]:
#third
score=200
wickets=7
catch=4
list_cond =[score>320,
            wickets<8,
            catch>3]
if (any(list_cond)):
    print("win")
else:
    print("Lose")

win

In [16]:
#fourth
a,b,c=input("enter three inputs: ").split()

enter three inputs: 3 4 5

In [18]:
int(a)+int(b)+int(c)

12

In [20]:
#fifth
salary=1200
exp=3
salary,exp=exp,salary
print(exp)

1200

In [21]:
#sixth
x=[1,2,3,4,5,6,3,2,1,3,2,5,3,7,6]
print(list(set(x)))

[1, 2, 3, 4, 5, 6, 7]

In [27]:
#seventh   most recurring value
x=[1,5,9,8,6,5,6,9,5,6,9,6,5,4,"a","a","b","b","a","a","a"]
print(max(x,key=x.count))

a

In [34]:
#eighth
x=[i**3 for i in range(1,15) if i%2==0]
print(x)

[8, 64, 216, 512, 1000, 1728, 2744]

In [35]:
#ninth
def fun1(*a):
    res = 1
    for ele in a:
        res*=ele
    return res
ans=fun1(5,6,9,6,9,6,6)
print(ans)

524880

In [36]:
#tenth
name="Sathyanarayanan"
print(name[-1::-1])

nanayaranayhtaS

In [39]:
#eleventh
s=slice(3,6)# from fourth element to sixth just like range
lst=[1,3,'a','b',5,11,16]
text='DATASCIENCE'
tpl=(1,2,3,4,5,6,7)

#print(lst[s])
#print(text[s])
print(tpl[s])

(4, 5, 6)

In [41]:
#twelfth
lst=[[2,5],[6,3],[2,8],[9,5]]
lst.sort(key=lambda x: x[1])
print(lst)

[[6, 3], [2, 5], [9, 5], [2, 8]]

In [42]:
lst.sort(key=lambda x: x[0])
print(lst)

[[2, 5], [2, 8], [6, 3], [9, 5]]

In [43]:
# thirteenth
tpl=(1,20)
x,y=tpl
print(x,y)

1 20

In [44]:
#fourteenth
name='sathya'
age='nine'
print(f"{name} is {age} years old")

sathya is nine years old

In [ ]:
# SQL
#SELECT CASE WHEN column_a > 30 THEN "Large"
            #WHEN column_a <= 30 THEN "Small"
            #END AS Size
#FROM table_df
# Pandas
import numpy as np     
conditions = [table_df['column_a']>30, table_df['column_b']<=30]
choices = ['Large', 'Small']
table_df['Size'] = np.select(conditions, choices)