In [1]:
import pandas as pd
import datetime as dt
from pandas_datareader import data #we can use data.somethinag instead of pd or dt

In [2]:
stocks=data.DataReader(name="MSFT",data_source="yahoo",start="2018-01-01",end="2020-12-31")
#name is stock symbol of the company.eg microsoft-msft.
#data source=from where this data is going to be taken.

In [3]:
stocks.head(2)

                 High        Low       Open      Close      Volume  Adj Close
Date
2018-01-02  86.309998  85.500000  86.129997  85.949997  22483800.0  82.194328
2018-01-03  86.510002  85.970001  86.059998  86.349998  26061400.0  82.576843

In [4]:
stocks.values

array([[8.63099976e+01, 8.55000000e+01, 8.61299973e+01, 8.59499969e+01,
        2.24838000e+07, 8.21943283e+01],
       [8.65100021e+01, 8.59700012e+01, 8.60599976e+01, 8.63499985e+01,
        2.60614000e+07, 8.25768433e+01],
       [8.76600037e+01, 8.65699997e+01, 8.65899963e+01, 8.71100006e+01,
        2.19120000e+07, 8.33036575e+01],
       ...,
       [2.27179993e+02, 2.23580002e+02, 2.26309998e+02, 2.24149994e+02,
        1.74032000e+07, 2.23634918e+02],
       [2.25630005e+02, 2.21470001e+02, 2.25229996e+02, 2.21679993e+02,
        2.02723000e+07, 2.21170593e+02],
       [2.23000000e+02, 2.19679993e+02, 2.21699997e+02, 2.22419998e+02,
        2.09421000e+07, 2.21908905e+02]])

In [5]:
stocks.columns

Index(['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], dtype='object')

In [6]:
stocks.index # a DatetimeIndex

DatetimeIndex(['2018-01-02', '2018-01-03', '2018-01-04', '2018-01-05',
               '2018-01-08', '2018-01-09', '2018-01-10', '2018-01-11',
               '2018-01-12', '2018-01-16',
               ...
               '2020-12-17', '2020-12-18', '2020-12-21', '2020-12-22',
               '2020-12-23', '2020-12-24', '2020-12-28', '2020-12-29',
               '2020-12-30', '2020-12-31'],
              dtype='datetime64[ns]', name='Date', length=756, freq=None)

In [7]:
stocks.axes

[DatetimeIndex(['2018-01-02', '2018-01-03', '2018-01-04', '2018-01-05',
                '2018-01-08', '2018-01-09', '2018-01-10', '2018-01-11',
                '2018-01-12', '2018-01-16',
                ...
                '2020-12-17', '2020-12-18', '2020-12-21', '2020-12-22',
                '2020-12-23', '2020-12-24', '2020-12-28', '2020-12-29',
                '2020-12-30', '2020-12-31'],
               dtype='datetime64[ns]', name='Date', length=756, freq=None),
 Index(['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], dtype='object')]

# selecting rows from a dataframe using a 
# DatetimeIndex

In [8]:
stocks.head(3)

                 High        Low       Open      Close      Volume  Adj Close
Date
2018-01-02  86.309998  85.500000  86.129997  85.949997  22483800.0  82.194328
2018-01-03  86.510002  85.970001  86.059998  86.349998  26061400.0  82.576843
2018-01-04  87.660004  86.570000  86.589996  87.110001  21912000.0  83.303658

In [9]:
stocks.loc[pd.Timestamp("2018-01-02")]

High         8.631000e+01
Low          8.550000e+01
Open         8.613000e+01
Close        8.595000e+01
Volume       2.248380e+07
Adj Close    8.219433e+01
Name: 2018-01-02 00:00:00, dtype: float64

In [10]:
stocks.iloc[50] # 51st row in the dataframe

High         9.458000e+01
Low          9.283000e+01
Open         9.353000e+01
Close        9.418000e+01
Volume       2.761100e+07
Adj Close    9.048779e+01
Name: 2018-03-15 00:00:00, dtype: float64

In [11]:
stocks.iloc[-1]

High         2.230000e+02
Low          2.196800e+02
Open         2.217000e+02
Close        2.224200e+02
Volume       2.094210e+07
Adj Close    2.219089e+02
Name: 2020-12-31 00:00:00, dtype: float64

In [3]:
stocks.loc[["2018-01-02","2018-01-03"]]# this will be an error as it will not accept time as a string

                 High        Low       Open      Close      Volume  Adj Close
Date
2018-01-02  86.309998  85.500000  86.129997  85.949997  22483800.0  82.194328
2018-01-03  86.510002  85.970001  86.059998  86.349998  26061400.0  82.576843

In [4]:
stocks.loc[[pd.Timestamp("2018-01-02"),pd.Timestamp("2018-01-03")]] # remember to give the two timestamps as a list

                 High        Low       Open      Close      Volume  Adj Close
Date
2018-01-02  86.309998  85.500000  86.129997  85.949997  22483800.0  82.194328
2018-01-03  86.510002  85.970001  86.059998  86.349998  26061400.0  82.576843

In [ ]:
stocks.iloc[[10,20,30]] # always pass as a list for multiple indices

In [6]:
stocks.loc["2018-01-02":"2018-01-10"] # slicing the rows,also both are inclusive

                 High        Low       Open      Close      Volume  Adj Close
Date
2018-01-02  86.309998  85.500000  86.129997  85.949997  22483800.0  82.194328
2018-01-03  86.510002  85.970001  86.059998  86.349998  26061400.0  82.576843
2018-01-04  87.660004  86.570000  86.589996  87.110001  21912000.0  83.303658
2018-01-05  88.410004  87.430000  87.660004  88.190002  23407100.0  84.336464
2018-01-08  88.580002  87.599998  88.199997  88.279999  22113000.0  84.422516
2018-01-09  88.730003  87.860001  88.650002  88.220001  19484300.0  84.365158
2018-01-10  88.190002  87.410004  87.860001  87.820000  18652200.0  83.982628

In [7]:
stocks.truncate(before="2018-01-2",after="2018-01-10") #here before represents starting and after represents ending.

                 High        Low       Open      Close      Volume  Adj Close
Date
2018-01-02  86.309998  85.500000  86.129997  85.949997  22483800.0  82.194328
2018-01-03  86.510002  85.970001  86.059998  86.349998  26061400.0  82.576843
2018-01-04  87.660004  86.570000  86.589996  87.110001  21912000.0  83.303658
2018-01-05  88.410004  87.430000  87.660004  88.190002  23407100.0  84.336464
2018-01-08  88.580002  87.599998  88.199997  88.279999  22113000.0  84.422516
2018-01-09  88.730003  87.860001  88.650002  88.220001  19484300.0  84.365158
2018-01-10  88.190002  87.410004  87.860001  87.820000  18652200.0  83.982628

In [8]:
stocks.iloc[200:210] # 210 is not inclusive

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2018-10-17,111.809998,109.550003,111.680000,110.709999,26548200.0,107.241898
2018-10-18,110.529999,107.830002,110.099998,108.500000,32506200.0,105.101143
2018-10-19,110.860001,108.209999,108.930000,108.660004,32785500.0,105.256142
2018-10-22,110.540001,108.239998,109.320000,109.629997,26545600.0,106.195747
2018-10-23,108.970001,105.110001,107.769997,108.099998,43770400.0,104.713676
2018-10-24,108.489998,101.589996,108.410004,102.320000,63897800.0,99.114746
2018-10-25,109.269997,106.150002,106.550003,108.300003,61646800.0,104.907417
2018-10-26,108.750000,104.760002,105.690002,106.959999,55523100.0,103.609390
2018-10-29,108.699997,101.629997,108.110001,103.849998,55162000.0,100.596809
2018-10-30,104.379997,100.110001,103.660004,103.730003,65350900.0,100.480568

to find stock prize of microsoft on every single bday of mine

In [25]:
bday=pd.date_range(start="1993-03-28",end="2020-03-29",freq=pd.DateOffset(years=1))

In [26]:
stocks.loc[stocks.index.isin(bday)]
#bstoc=stocks.index.isin(bday)
#stocks.loc[bstoc]

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2018-03-28,91.230003,88.870003,89.820000,89.389999,52501100.0,85.885574
2019-03-28,117.580002,116.129997,117.440002,116.930000,18334800.0,114.242203

# Timestamp object attributes

In [13]:
stocks.head(3)

                 High        Low       Open      Close      Volume  Adj Close
Date
2018-01-02  86.309998  85.500000  86.129997  85.949997  22483800.0  82.194328
2018-01-03  86.510002  85.970001  86.059998  86.349998  26061400.0  82.576843
2018-01-04  87.660004  86.570000  86.589996  87.110001  21912000.0  83.303658

In [5]:
stocks.index[200]

Timestamp('2018-10-17 00:00:00')

In [12]:
a=stocks.index[200]
a

Timestamp('2018-10-17 00:00:00')

In [13]:
#a.day
#a.month
#a.week
#a.is_month_end
a.is_quarter_start
#a.month_name()
#a.day_name()

False

In [14]:
stocks.index.day_name()

Index(['Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Monday', 'Tuesday',
       'Wednesday', 'Thursday', 'Friday', 'Tuesday',
       ...
       'Thursday', 'Friday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday',
       'Monday', 'Tuesday', 'Wednesday', 'Thursday'],
      dtype='object', name='Date', length=756)

In [26]:
stocks.insert(1,"Dof",stocks.index.day_name())
stocks

,High,Dof,Low,Open,Close,Volume,Adj Close
Date,,,,,,,
2018-01-02,86.309998,Tuesday,85.500000,86.129997,85.949997,22483800.0,82.194328
2018-01-03,86.510002,Wednesday,85.970001,86.059998,86.349998,26061400.0,82.576843
2018-01-04,87.660004,Thursday,86.570000,86.589996,87.110001,21912000.0,83.303658
2018-01-05,88.410004,Friday,87.430000,87.660004,88.190002,23407100.0,84.336464
2018-01-08,88.580002,Monday,87.599998,88.199997,88.279999,22113000.0,84.422516
...,...,...,...,...,...,...,...
2020-12-24,223.610001,Thursday,221.199997,221.419998,222.750000,10550600.0,222.238144
2020-12-28,226.029999,Monday,223.020004,224.449997,224.960007,17933500.0,224.443069
2020-12-29,227.179993,Tuesday,223.580002,226.309998,224.149994,17403200.0,223.634918
2020-12-30,225.630005,Wednesday,221.470001,225.229996,221.679993,20272300.0,221.170593
2020-12-31,223.000000,Thursday,219.679993,221.699997,222.419998,20942100.0,221.908905

In [27]:
stocks.drop(labels=["Dof"],axis=1,inplace=True)

In [25]:
stocks

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2018-01-02,86.309998,85.500000,86.129997,85.949997,22483800.0,82.194328
2018-01-03,86.510002,85.970001,86.059998,86.349998,26061400.0,82.576843
2018-01-04,87.660004,86.570000,86.589996,87.110001,21912000.0,83.303658
2018-01-05,88.410004,87.430000,87.660004,88.190002,23407100.0,84.336464
2018-01-08,88.580002,87.599998,88.199997,88.279999,22113000.0,84.422516
...,...,...,...,...,...,...
2020-12-24,223.610001,221.199997,221.419998,222.750000,10550600.0,222.238144
2020-12-28,226.029999,223.020004,224.449997,224.960007,17933500.0,224.443069
2020-12-29,227.179993,223.580002,226.309998,224.149994,17403200.0,223.634918
2020-12-30,225.630005,221.470001,225.229996,221.679993,20272300.0,221.170593
2020-12-31,223.000000,219.679993,221.699997,222.419998,20942100.0,221.908905

In [28]:
stocks[stocks.index.is_month_start]

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2018-02-01,96.070000,93.580002,94.790001,94.260002,47227900.0,90.141228
2018-03-01,94.570000,91.839996,93.989998,92.849998,37135600.0,89.209938
2018-05-01,95.290001,92.790001,93.209999,95.000000,31408900.0,91.275635
2018-06-01,100.860001,99.169998,99.279999,100.790001,28655600.0,97.258377
2018-08-01,106.449997,105.419998,106.029999,106.279999,23628700.0,102.556030
2018-10-01,115.680000,114.730003,114.750000,115.610001,18883100.0,111.988419
2018-11-01,107.320000,105.529999,107.050003,105.919998,33384200.0,102.601967
2019-02-01,104.099998,102.349998,103.779999,102.779999,35535700.0,99.990440
2019-03-01,113.019997,111.669998,112.889999,112.529999,23501200.0,109.943359
2019-04-01,119.110001,118.099998,118.949997,119.019997,22789100.0,116.284180
2019-05-01,130.649994,127.699997,130.529999,127.879997,26821700.0,124.940514
2019-07-01,136.699997,134.970001,136.630005,135.679993,22613500.0,133.051910
2019-08-01,140.940002,136.929993,137.000000,138.059998,40557500.0,135.385788
2019-10-01,140.250000,137.000000,139.660004,137.070007,21466600.0,134.862610
2019-11-01,144.419998,142.970001,144.259995,143.720001,33128400.0,141.405502
2020-04-01,157.750000,150.820007,153.000000,152.110001,57969900.0,150.579803
2020-05-01,178.639999,174.009995,175.800003,174.570007,39370500.0,172.813858
2020-06-01,183.000000,181.460007,182.539993,182.830002,22622400.0,181.494843
2020-07-01,206.350006,201.770004,203.139999,204.699997,32061200.0,203.205124
2020-09-01,227.449997,224.429993,225.509995,227.270004,25791200.0,226.155685
2020-10-01,213.990005,211.320007,213.490005,212.460007,27158400.0,211.418289
2020-12-01,217.320007,213.350006,214.509995,216.210007,30931300.0,215.713181

TO ADD 5 DAYS TO EVERY DATE

In [57]:
stocks["High"] + 5 # adds 5 to float point values but not with dates

Date
2018-01-02     91.309998
2018-01-03     91.510002
2018-01-04     92.660004
2018-01-05     93.410004
2018-01-08     93.580002
                 ...
2020-12-24    228.610001
2020-12-28    231.029999
2020-12-29    232.179993
2020-12-30    230.630005
2020-12-31    228.000000
Name: High, Length: 756, dtype: float64

In [62]:
#stocks.index + pd.DateOffset(days = 5) #adds 5 days to each date in the inde
stocks.index - pd.DateOffset(days = 5)#subtracts 5 days to each date in the index

DatetimeIndex(['2017-12-28', '2017-12-29', '2017-12-30', '2017-12-31',
               '2018-01-03', '2018-01-04', '2018-01-05', '2018-01-06',
               '2018-01-07', '2018-01-11',
               ...
               '2020-12-12', '2020-12-13', '2020-12-16', '2020-12-17',
               '2020-12-18', '2020-12-19', '2020-12-23', '2020-12-24',
               '2020-12-25', '2020-12-26'],
              dtype='datetime64[ns]', name='Date', length=756, freq=None)

In [31]:
stocks.index + pd.DateOffset(days=5) #this adds 5 to the index in the dataframe

In [32]:
stocks.index + pd.DateOffset(weeks = 2) #adds two weeks to the DateIndex

DatetimeIndex(['2018-01-18', '2018-01-19', '2018-01-20', '2018-01-21',
               '2018-01-24', '2018-01-25', '2018-01-26', '2018-01-27',
               '2018-01-28', '2018-02-01',
               ...
               '2021-01-02', '2021-01-03', '2021-01-06', '2021-01-07',
               '2021-01-08', '2021-01-09', '2021-01-13', '2021-01-14',
               '2021-01-15', '2021-01-16'],
              dtype='datetime64[ns]', name='Date', length=756, freq=None)

In [71]:
#stocks.index + pd.DateOffset(months = 2)
#stocks.index - pd.DateOffset(years = 5)
stocks.index + pd.DateOffset(years=1,months=2,days = 5,hours=2,minutes=3,seconds=26)# cann addyears and months and days as a single argument

DatetimeIndex(['2019-03-07 02:03:26', '2019-03-08 02:03:26',
               '2019-03-09 02:03:26', '2019-03-10 02:03:26',
               '2019-03-13 02:03:26', '2019-03-14 02:03:26',
               '2019-03-15 02:03:26', '2019-03-16 02:03:26',
               '2019-03-17 02:03:26', '2019-03-21 02:03:26',
               ...
               '2022-02-22 02:03:26', '2022-02-23 02:03:26',
               '2022-02-26 02:03:26', '2022-02-27 02:03:26',
               '2022-02-28 02:03:26', '2022-03-01 02:03:26',
               '2022-03-05 02:03:26', '2022-03-05 02:03:26',
               '2022-03-05 02:03:26', '2022-03-05 02:03:26'],
              dtype='datetime64[ns]', name='Date', length=756, freq=None)

# Timeseries Offsets

In [13]:
stocks.index

DatetimeIndex(['2018-01-02', '2018-01-03', '2018-01-04', '2018-01-05',
               '2018-01-08', '2018-01-09', '2018-01-10', '2018-01-11',
               '2018-01-12', '2018-01-16',
               ...
               '2020-12-17', '2020-12-18', '2020-12-21', '2020-12-22',
               '2020-12-23', '2020-12-24', '2020-12-28', '2020-12-29',
               '2020-12-30', '2020-12-31'],
              dtype='datetime64[ns]', name='Date', length=756, freq=None)

TO BRING EACH DATE TO THE END OF MONTH .eg:2018-03-02 to 2018-03-31.

In [17]:
stocks.index + pd.tseries.offsets.MonthEnd()

DatetimeIndex(['2018-01-31', '2018-01-31', '2018-01-31', '2018-01-31',
               '2018-01-31', '2018-01-31', '2018-01-31', '2018-01-31',
               '2018-01-31', '2018-01-31',
               ...
               '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2021-01-31'],
              dtype='datetime64[ns]', name='Date', length=756, freq=None)

In [76]:
stocks.tail(3) # if an actual month end arrives like april 30 then  pandas
               # wiil return the next month end and not that itself

,Day of week,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,
2020-12-29,Tuesday,227.179993,223.580002,226.309998,224.149994,17403200.0,223.634918
2020-12-30,Wednesday,225.630005,221.470001,225.229996,221.679993,20272300.0,221.170593
2020-12-31,Thursday,223.000000,219.679993,221.699997,222.419998,20942100.0,221.908905

In [15]:
stocks.index - pd.tseries.offsets.MonthEnd()

DatetimeIndex(['2017-12-31', '2017-12-31', '2017-12-31', '2017-12-31',
               '2017-12-31', '2017-12-31', '2017-12-31', '2017-12-31',
               '2017-12-31', '2017-12-31',
               ...
               '2020-11-30', '2020-11-30', '2020-11-30', '2020-11-30',
               '2020-11-30', '2020-11-30', '2020-11-30', '2020-11-30',
               '2020-11-30', '2020-11-30'],
              dtype='datetime64[ns]', name='Date', length=756, freq=None)

In [19]:
#stocks.index + pd.tseries.offsets.MonthBegin() #begining of next month
stocks.index - pd.tseries.offsets.MonthBegin()# next month begining backwards

DatetimeIndex(['2018-01-01', '2018-01-01', '2018-01-01', '2018-01-01',
               '2018-01-01', '2018-01-01', '2018-01-01', '2018-01-01',
               '2018-01-01', '2018-01-01',
               ...
               '2020-12-01', '2020-12-01', '2020-12-01', '2020-12-01',
               '2020-12-01', '2020-12-01', '2020-12-01', '2020-12-01',
               '2020-12-01', '2020-12-01'],
              dtype='datetime64[ns]', name='Date', length=756, freq=None)

In [34]:
#to get directly the required package
from pandas.tseries import offsets

In [35]:
 stocks.index - offsets.MonthEnd()

DatetimeIndex(['2017-12-31', '2017-12-31', '2017-12-31', '2017-12-31',
               '2017-12-31', '2017-12-31', '2017-12-31', '2017-12-31',
               '2017-12-31', '2017-12-31',
               ...
               '2020-11-30', '2020-11-30', '2020-11-30', '2020-11-30',
               '2020-11-30', '2020-11-30', '2020-11-30', '2020-11-30',
               '2020-11-30', '2020-11-30'],
              dtype='datetime64[ns]', name='Date', length=756, freq=None)

In [90]:
stocks.index + offsets.BMonthEnd() # for business purposes

DatetimeIndex(['2018-01-31', '2018-01-31', '2018-01-31', '2018-01-31',
               '2018-01-31', '2018-01-31', '2018-01-31', '2018-01-31',
               '2018-01-31', '2018-01-31',
               ...
               '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2021-01-29'],
              dtype='datetime64[ns]', name='Date', length=756, freq=None)

In [95]:
stocks.loc["2020-12-31"]

Day of week      Thursday
High                223.0
Low            219.679993
Open           221.699997
Close          222.419998
Volume         20942100.0
Adj Close      221.908905
Name: 2020-12-31 00:00:00, dtype: object

In [101]:
#stocks.index + offsets.YearEnd()
#stocks.index - offsets.YearEnd()
#stocks.index + offsets.YearBegin()
stocks.index - offsets.YearBegin()

DatetimeIndex(['2018-01-01', '2018-01-01', '2018-01-01', '2018-01-01',
               '2018-01-01', '2018-01-01', '2018-01-01', '2018-01-01',
               '2018-01-01', '2018-01-01',
               ...
               '2020-01-01', '2020-01-01', '2020-01-01', '2020-01-01',
               '2020-01-01', '2020-01-01', '2020-01-01', '2020-01-01',
               '2020-01-01', '2020-01-01'],
              dtype='datetime64[ns]', name='Date', length=756, freq=None)

# Timedelta object
   REPRESENTS A TIME SPAN,DURATION OR PASSAGE OF TIME

In [109]:
time_a=pd.Timestamp("2020-03-28 05:09:23PM")
time_b=pd.Timestamp("2020-03-20 05:09:23AM")

In [112]:
time_a-time_b

Timedelta('8 days 12:00:00')

In [113]:
time_b-time_a

Timedelta('-9 days +12:00:00')

In [115]:
pd.Timedelta(days=3)#represents a passage of 3days time
                  #particularly helpful in adding that much amount of time

Timedelta('3 days 00:00:00')

In [118]:
time_a+ pd.Timedelta(days=3) # adding 3 days to 2020-03-28

Timestamp('2020-03-31 17:09:23')

In [124]:
time_b - pd.Timedelta(weeks=3,days=3,hours=12,minutes=8,seconds=33) #subtracting 3weeks 3days 12h 8min and 33sec from time_b

Timestamp('2020-02-24 17:00:50')

In [128]:
pd.Timedelta(months=3) #years and months will not work in timedelta as there is ambiguity regarding 
    #the no of days in a year(365 or 366) and the no of dayss in a month(31 or 30 or 29 or 28)

ValueError: cannot construct a Timedelta from the passed arguments, allowed keywords are [weeks, days, hours, minutes, seconds, milliseconds, microseconds, nanoseconds]

In [137]:
#pd.Timedelta("5 minutes")# string arguments are accepted in timedelta
#pd.Timedelta("5 hours")
#pd.Timedelta("5 days 5 hours")
#pd.Timedelta("5days 5hours 5minutes 5seconds")
pd.Timedelta("5 days 5 hours 5 minutes 5 seconds")

Timedelta('5 days 05:05:05')

In [20]:
print(pd.Timestamp("2015-01-01") - pd.DateOffset(days=1))

2014-12-31 00:00:00

In [28]:
stocks.index + pd.Timedelta("3 days 3 minutes")

DatetimeIndex(['2018-01-05 00:03:00', '2018-01-06 00:03:00',
               '2018-01-07 00:03:00', '2018-01-08 00:03:00',
               '2018-01-11 00:03:00', '2018-01-12 00:03:00',
               '2018-01-13 00:03:00', '2018-01-14 00:03:00',
               '2018-01-15 00:03:00', '2018-01-19 00:03:00',
               ...
               '2020-12-20 00:03:00', '2020-12-21 00:03:00',
               '2020-12-24 00:03:00', '2020-12-25 00:03:00',
               '2020-12-26 00:03:00', '2020-12-27 00:03:00',
               '2020-12-31 00:03:00', '2021-01-01 00:03:00',
               '2021-01-02 00:03:00', '2021-01-03 00:03:00'],
              dtype='datetime64[ns]', name='Date', length=756, freq=None)