In [1]:
import pandas as pd # pandas is an external lib
import datetime as dt # datetime is an inbuilt library of python

In [2]:
bday=dt.date(1993,3,28) # (year,month,day)

In [4]:
bday.day # call different attributes of date object

28

In [4]:
dt.datetime(1993,3,28,)

datetime.datetime(1993, 3, 28, 0, 0)

In [5]:
sometime=dt.datetime(1993,3,28,8,13,57) # date:28/03/1993 and time 8.13 and 57 sec

In [6]:
sometime.second
# attributes of datetime object

57

In [7]:
str(dt.datetime(1993,3,28,8,13,57))

'1993-03-28 08:13:57'

In [8]:
str(bday)

'1993-03-28'

# The pandas timestamp object 
the pandas version of python datetime object

In [9]:
pd.Timestamp("1993-03-28") # if time is not given ,it assign 12 midnight

Timestamp('1993-03-28 00:00:00')

In [10]:
pd.Timestamp("1993/03/28") # can use '/' and ',' to seperate

Timestamp('1993-03-28 00:00:00')

In [11]:
pd.Timestamp("19/12/2019")# pandas can recognize 19 as day and 12 as month

Timestamp('2019-12-19 00:00:00')

In [12]:
pd.Timestamp("4/3/2019") # pandas takes 4 as month and 3 as day even if we meant the opposite

Timestamp('2019-04-03 00:00:00')

In [13]:
pd.Timestamp("19/12/2019 8:35:45") # leave space between date and time

Timestamp('2019-12-19 08:35:45')

In [14]:
pd.Timestamp("19/12/2019 8:35:45 PM") # add pm for evening and night

Timestamp('2019-12-19 20:35:45')

In [15]:
pd.Timestamp(dt.date(1993,3,28))# we can also give date object of python as parameter to timestamp

Timestamp('1993-03-28 00:00:00')

In [16]:
pd.Timestamp(dt.datetime(1993,3,28,6,15,45))

Timestamp('1993-03-28 06:15:45')

# the pandas DatetimeIndex object

In [17]:
dates=["2016/03/2","2017-04-1","2015-11-23"]
pd.DatetimeIndex(dates)

DatetimeIndex(['2016-03-02', '2017-04-01', '2015-11-23'], dtype='datetime64[ns]', freq=None)

In [18]:
type(pd.DatetimeIndex(dates))

pandas.core.indexes.datetimes.DatetimeIndex

In [19]:
date=[dt.datetime(1990,4,12),dt.datetime(1991,7,22),dt.datetime(1997,1,12)]

In [20]:
dtindex=pd.DatetimeIndex(date)

In [21]:
values=[100,200,300]

In [22]:
pd.Series(data=values,index=dtindex)

1990-04-12    100
1991-07-22    200
1997-01-12    300
dtype: int64

# pd.to_datetime method

In [23]:
pd.to_datetime("2020/1/12") # to convert  string to pandas time stamp.

Timestamp('2020-01-12 00:00:00')

In [24]:
pd.to_datetime(dt.date(2017,3,4)) # to convert date object to pandas timestamp

Timestamp('2017-03-04 00:00:00')

In [25]:
pd.to_datetime(dt.datetime(2017,3,4,19,27,36))

Timestamp('2017-03-04 19:27:36')

In [26]:
pd.to_datetime(["2015/8/23","2016","june 2nd,1994"]) # coverts all to datetimeindex object

DatetimeIndex(['2015-08-23', '2016-01-01', '1994-06-02'], dtype='datetime64[ns]', freq=None)

In [27]:
dates=pd.Series(["2015/8/23","2016","june 2nd,1994"])

In [28]:
dates

0        2015/8/23
1             2016
2    june 2nd,1994
dtype: object

In [29]:
pd.to_datetime(dates)# to covert a string of dates in a series to datetime object rather than string objects

0   2015-08-23
1   2016-01-01
2   1994-06-02
dtype: datetime64[ns]

In [30]:
dates=pd.Series(["july 2nd,1966","10/04/1991","hello","2016-2-31"])

In [31]:
dates

0    july 2nd,1966
1       10/04/1991
2            hello
3        2016-2-31
dtype: object

In [33]:
pd.to_datetime(dates)# this will give error

ParserError: Unknown string format: hello

In [ ]:
pd.to_datetime(dates,errors="coerce")# NaT=not a time,set errors = coerce to convert the series to datetimeindex

# unix time

In [ ]:
pd.to_datetime([1490750889, 1490751209, 1490751569],unit='s')
# time in seconds after jan1 ,1970 is a unix timestamp.to convert these to 
#actual dates,set unit='s' where s stands for seconds.

# pd.date_range() Method

In [8]:
times=pd.date_range(start= "2018/03/28",end="2018/04/6",freq="D")

In [6]:
type(times) # it is a datetimeindex object.

pandas.core.indexes.datetimes.DatetimeIndex

In [9]:
times[0]

Timestamp('2018-03-28 00:00:00', freq='D')

In [ ]:
type(times[0]) # it is a time stamp.

In [10]:
pd.date_range(start= "2018/03/28",end="2018/04/6",freq="2D")

DatetimeIndex(['2018-03-28', '2018-03-30', '2018-04-01', '2018-04-03',
               '2018-04-05'],
              dtype='datetime64[ns]', freq='2D')

In [11]:
pd.date_range(start= "2018/03/28",end="2018/04/6",freq="B")# business days

DatetimeIndex(['2018-03-28', '2018-03-29', '2018-03-30', '2018-04-02',
               '2018-04-03', '2018-04-04', '2018-04-05', '2018-04-06'],
              dtype='datetime64[ns]', freq='B')

In [12]:
pd.date_range(start= "2018/03/28",end="2018/04/8",freq="W") # returns a week starting from 1 sunday to the next in the given range

DatetimeIndex(['2018-04-01', '2018-04-08'], dtype='datetime64[ns]', freq='W-SUN')

In [13]:
pd.date_range(start= "2018/03/28",end="2018/04/20",freq="W-FRI") # starts the week on friday

DatetimeIndex(['2018-03-30', '2018-04-06', '2018-04-13', '2018-04-20'], dtype='datetime64[ns]', freq='W-FRI')

In [14]:
pd.date_range(start= "2018/03/28",end="2018/03/29",freq="H") # every hour from start to end

DatetimeIndex(['2018-03-28 00:00:00', '2018-03-28 01:00:00',
               '2018-03-28 02:00:00', '2018-03-28 03:00:00',
               '2018-03-28 04:00:00', '2018-03-28 05:00:00',
               '2018-03-28 06:00:00', '2018-03-28 07:00:00',
               '2018-03-28 08:00:00', '2018-03-28 09:00:00',
               '2018-03-28 10:00:00', '2018-03-28 11:00:00',
               '2018-03-28 12:00:00', '2018-03-28 13:00:00',
               '2018-03-28 14:00:00', '2018-03-28 15:00:00',
               '2018-03-28 16:00:00', '2018-03-28 17:00:00',
               '2018-03-28 18:00:00', '2018-03-28 19:00:00',
               '2018-03-28 20:00:00', '2018-03-28 21:00:00',
               '2018-03-28 22:00:00', '2018-03-28 23:00:00',
               '2018-03-29 00:00:00'],
              dtype='datetime64[ns]', freq='H')

In [15]:
pd.date_range(start= "2018/03/28",end="2018/03/30",freq="5H")

DatetimeIndex(['2018-03-28 00:00:00', '2018-03-28 05:00:00',
               '2018-03-28 10:00:00', '2018-03-28 15:00:00',
               '2018-03-28 20:00:00', '2018-03-29 01:00:00',
               '2018-03-29 06:00:00', '2018-03-29 11:00:00',
               '2018-03-29 16:00:00', '2018-03-29 21:00:00'],
              dtype='datetime64[ns]', freq='5H')

In [16]:
pd.date_range(start= "2018/03/28",end="2018/06/20",freq="M") # returns month ends within the range

DatetimeIndex(['2018-03-31', '2018-04-30', '2018-05-31'], dtype='datetime64[ns]', freq='M')

In [ ]:
pd.date_range(start= "2018/03/28",end="2018/08/20",freq="MS") # returns month starts within the range

In [18]:
pd.date_range(start= "2018/03/28",end="2030/06/20",freq="A") # returns year ends within the range

DatetimeIndex(['2018-12-31', '2019-12-31', '2020-12-31', '2021-12-31',
               '2022-12-31', '2023-12-31', '2024-12-31', '2025-12-31',
               '2026-12-31', '2027-12-31', '2028-12-31', '2029-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

# pd.date_range part two

In [19]:
pd.date_range(start="2009/03/28",periods=25,freq="D") # using start and period ( no need for end)

DatetimeIndex(['2009-03-28', '2009-03-29', '2009-03-30', '2009-03-31',
               '2009-04-01', '2009-04-02', '2009-04-03', '2009-04-04',
               '2009-04-05', '2009-04-06', '2009-04-07', '2009-04-08',
               '2009-04-09', '2009-04-10', '2009-04-11', '2009-04-12',
               '2009-04-13', '2009-04-14', '2009-04-15', '2009-04-16',
               '2009-04-17', '2009-04-18', '2009-04-19', '2009-04-20',
               '2009-04-21'],
              dtype='datetime64[ns]', freq='D')

In [20]:
pd.date_range(start="2009/03/28",periods=25,freq="B")#  returns 25 business days from 28 th march

DatetimeIndex(['2009-03-30', '2009-03-31', '2009-04-01', '2009-04-02',
               '2009-04-03', '2009-04-06', '2009-04-07', '2009-04-08',
               '2009-04-09', '2009-04-10', '2009-04-13', '2009-04-14',
               '2009-04-15', '2009-04-16', '2009-04-17', '2009-04-20',
               '2009-04-21', '2009-04-22', '2009-04-23', '2009-04-24',
               '2009-04-27', '2009-04-28', '2009-04-29', '2009-04-30',
               '2009-05-01'],
              dtype='datetime64[ns]', freq='B')

In [21]:
pd.date_range(start="2009/03/28",periods=25,freq="W") # 29 is sunday and it returns 25 weeks starting with sunday

DatetimeIndex(['2009-03-29', '2009-04-05', '2009-04-12', '2009-04-19',
               '2009-04-26', '2009-05-03', '2009-05-10', '2009-05-17',
               '2009-05-24', '2009-05-31', '2009-06-07', '2009-06-14',
               '2009-06-21', '2009-06-28', '2009-07-05', '2009-07-12',
               '2009-07-19', '2009-07-26', '2009-08-02', '2009-08-09',
               '2009-08-16', '2009-08-23', '2009-08-30', '2009-09-06',
               '2009-09-13'],
              dtype='datetime64[ns]', freq='W-SUN')

In [22]:
pd.date_range(start="2009/03/28",periods=25,freq="W-TUE")

DatetimeIndex(['2009-03-31', '2009-04-07', '2009-04-14', '2009-04-21',
               '2009-04-28', '2009-05-05', '2009-05-12', '2009-05-19',
               '2009-05-26', '2009-06-02', '2009-06-09', '2009-06-16',
               '2009-06-23', '2009-06-30', '2009-07-07', '2009-07-14',
               '2009-07-21', '2009-07-28', '2009-08-04', '2009-08-11',
               '2009-08-18', '2009-08-25', '2009-09-01', '2009-09-08',
               '2009-09-15'],
              dtype='datetime64[ns]', freq='W-TUE')

In [ ]:
pd.date_range(start="2009/03/28",periods=25,freq="MS")

In [ ]:
pd.date_range(start="2009/03/28",periods=25,freq="A") #year ends  from 2009

In [ ]:
type(pd.date_range(start="2009/03/28",periods=10,freq="6H"))

# pd.date_range Method 3

In [ ]:
pd.date_range(end="2009/03/28",periods=25,freq="D")

In [ ]:
pd.date_range(end="2009/03/28",periods=25,freq="B")

In [ ]:
pd.date_range(end="2009/03/28",periods=25,freq="2B")

In [ ]:
pd.date_range(end="2009/03/28",periods=10,freq="12h")

In [23]:
pd.date_range(end="2009/03/28",periods=10,freq="w-sat")

DatetimeIndex(['2009-01-24', '2009-01-31', '2009-02-07', '2009-02-14',
               '2009-02-21', '2009-02-28', '2009-03-07', '2009-03-14',
               '2009-03-21', '2009-03-28'],
              dtype='datetime64[ns]', freq='W-SAT')

In [24]:
pd.date_range(end="2009/03/28",periods=25,freq="M")

DatetimeIndex(['2007-02-28', '2007-03-31', '2007-04-30', '2007-05-31',
               '2007-06-30', '2007-07-31', '2007-08-31', '2007-09-30',
               '2007-10-31', '2007-11-30', '2007-12-31', '2008-01-31',
               '2008-02-29', '2008-03-31', '2008-04-30', '2008-05-31',
               '2008-06-30', '2008-07-31', '2008-08-31', '2008-09-30',
               '2008-10-31', '2008-11-30', '2008-12-31', '2009-01-31',
               '2009-02-28'],
              dtype='datetime64[ns]', freq='M')

In [25]:
pd.date_range(end="2009/03/28",periods=10,freq="ms")

DatetimeIndex(['2009-03-27 23:59:59.991000', '2009-03-27 23:59:59.992000',
               '2009-03-27 23:59:59.993000', '2009-03-27 23:59:59.994000',
               '2009-03-27 23:59:59.995000', '2009-03-27 23:59:59.996000',
               '2009-03-27 23:59:59.997000', '2009-03-27 23:59:59.998000',
               '2009-03-27 23:59:59.999000',        '2009-03-28 00:00:00'],
              dtype='datetime64[ns]', freq='L')

# .dt Accessor

In [26]:
bunch_of_dates=pd.date_range(start="2000-01-01",end="2010-12-13",freq="24D")

In [27]:
s=pd.Series(bunch_of_dates)# series of dates
s.head(3)

0   2000-01-01
1   2000-01-25
2   2000-02-18
dtype: datetime64[ns]

In [ ]:
s.dt.day # to access only the days from bunch_of_dates.

In [ ]:
s.dt.month

In [28]:
s[s.dt.is_quarter_start] # to check if there are any days where a quarter starts.

0     2000-01-01
19    2001-04-01
38    2002-07-01
137   2009-01-01
dtype: datetime64[ns]

In [ ]:
s[s.dt.is_month_start] #to check if there are any days where a month starts.

In [ ]:
stocks