In [1]:
import numpy as np
import pandas as pd

In [2]:
outside=['G1','G1','G1','G2','G2','G2']
inside=[1,2,3,1,2,3]
hier_index=list(zip(outside,inside))
hier_index=pd.MultiIndex.from_tuples(hier_index)

In [3]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [4]:
from numpy.random import randn

In [5]:
np.random.seed(0)

In [6]:
df=pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [7]:
df # in the output there are two levels g1,g2 and 3 inside levels and this is multi indexing

             A         B
G1 1  1.764052  0.400157
   2  0.978738  2.240893
   3  1.867558 -0.977278
G2 1  0.950088 -0.151357
   2 -0.103219  0.410599
   3  0.144044  1.454274

In [8]:
df.loc['G1'].loc[1]

A    1.764052
B    0.400157
Name: 1, dtype: float64

In [9]:
df.index.names=['Groups','Names']

In [10]:
df

                     A         B
Groups Names
G1     1      1.764052  0.400157
       2      0.978738  2.240893
       3      1.867558 -0.977278
G2     1      0.950088 -0.151357
       2     -0.103219  0.410599
       3      0.144044  1.454274

In [11]:
df.loc['G2'].loc[2]['B']

0.41059850193837233

In [12]:
df.xs('G1')

              A         B
Names
1      1.764052  0.400157
2      0.978738  2.240893
3      1.867558 -0.977278

In [13]:
df.xs(1,level='Names')# xs can directly go into inner indices by defining the level

               A         B
Groups
G1      1.764052  0.400157
G2      0.950088 -0.151357

In [16]:
df

                     A         B
Groups Names
G1     1      1.764052  0.400157
       2      0.978738  2.240893
       3      1.867558 -0.977278
G2     1      0.950088 -0.151357
       2     -0.103219  0.410599
       3      0.144044  1.454274

In [18]:
df.xs(3,level='Names')

               A         B
Groups
G1      1.867558 -0.977278
G2      0.144044  1.454274

In [6]:
def times_2(var):
    return var**2

In [7]:
times_2(8)

64

In [34]:
seq=[1,2,3,4]
map(times_2,seq)

In [5]:
list(map(times_2,seq))

[1, 4, 9, 16]

In [9]:
t=lambda var: var*2

In [11]:
t(6)

12

In [12]:
list(map(lambda x: x*2,seq))

[2, 4, 6, 8]

In [14]:
list(map(lambda x: x%2==0,seq))

[False, True, False, True]

In [15]:
list(filter(lambda x: x%2==0,seq))

[2, 4]

In [16]:
s='hello my dear kutti'

In [17]:
s.split()

['hello', 'my', 'dear', 'kutti']

In [18]:
t='hello my # dear kutti'

In [20]:
t.split('#')[1]

' dear kutti'

In [21]:
lst=[2,3,4,56,3,1]

In [22]:
lst.pop()

1

In [23]:
lst.pop(2)

4

In [24]:
lst.append('new')

In [25]:
lst

[2, 3, 56, 3, 'new']

In [26]:
'x'in ['x','y','z']

True

In [28]:
x=[(1,2),(3,4),(5,6)]
x

[(1, 2), (3, 4), (5, 6)]

In [29]:
x[0]

(1, 2)

In [30]:
 x[0][0]

1

In [32]:
#tuple unpacking
for (a,b)in x:
    print (a)

1
3
5