In [24]:
import pandas as pd   # to open json file as a dataframe
df = pd.read_json("superheroes.json")
df

,squadName,homeTown,formed,secretBase,active,members
0,Super Hero Squad,Metro City,2016,Super tower,True,"{'name': 'Molecule Man', 'age': 29, 'secretIde..."
1,Super Hero Squad,Metro City,2016,Super tower,True,"{'name': 'Madame Uppercut', 'age': 39, 'secret..."
2,Super Hero Squad,Metro City,2016,Super tower,True,"{'name': 'Eternal Flame', 'age': 1000000, 'sec..."

In [26]:
pd.json_normalize(superHeroSquad, record_path = ['members'], meta =
['squadName', 'homeTown', 'formed', 'secretBase', 'active'])

,name,age,secretIdentity,powers,squadName,homeTown,formed,secretBase,active
0,Molecule Man,29,Dan Jukes,"[Radiation resistance, Turning tiny, Radiation...",Super Hero Squad,Metro City,2016,Super tower,True
1,Madame Uppercut,39,Jane Wilson,"[Million tonne punch, Damage resistance, Super...",Super Hero Squad,Metro City,2016,Super tower,True
2,Eternal Flame,1000000,Unknown,"[Immortality, Heat Immunity, Inferno, Teleport...",Super Hero Squad,Metro City,2016,Super tower,True

In [3]:
import json

In [40]:
file=open('superheroes.json','r')

In [41]:
superHeroSquad=json.load(file) # to open json file as python dict
#superHeroSquad.keys()
type(superHeroSquad)

dict

In [44]:
superHeroSquad['members'][1]['secretIdentity']

'Jane Wilson'

In [32]:
#update secret identity of Eternal Flame
superHeroSquad['members'][2]['secretIdentity'] = 'Will Smith'

In [33]:
file=open('superheroes.json', 'w') #write the updation to actual 
json.dump(superHeroSquad, file)    # superheroes.json file

In [36]:
file=open('superheroes.json', 'r') # to check the updation load 
json.load(file)                    # the json file  as python dict

{'squadName': 'Super Hero Squad',
 'homeTown': 'Metro City',
 'formed': 2016,
 'secretBase': 'Super tower',
 'active': True,
 'members': [{'name': 'Molecule Man',
   'age': 29,
   'secretIdentity': 'Dan Jukes',
   'powers': ['Radiation resistance', 'Turning tiny', 'Radiation blast']},
  {'name': 'Madame Uppercut',
   'age': 39,
   'secretIdentity': 'Jane Wilson',
   'powers': ['Million tonne punch',
    'Damage resistance',
    'Superhuman reflexes']},
  {'name': 'Eternal Flame',
   'age': 1000000,
   'secretIdentity': 'Will Smith',
   'powers': ['Immortality',
    'Heat Immunity',
    'Inferno',
    'Teleportation',
    'Interdimensional travel']}]}